@page "/fetchdata"

@using FirstBlazerApp.Data
@using FirstBlazerApp.Entidades;
@using FirstBlazerApp.BLL;
@inject WeatherForecastService ForecastService

<h1 class="display-3 text-center">Lista de Generos</h1>

<p class="display-4 text-center">Lista de Generos registrados</p>

@if (lista.Count() == 0)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Genero</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var obj in lista)
                    {
                        <tr>
                            <th>@obj.GeneroId</th>
                            <td>@obj.Nombre</td>
                            <td><a href="RegistroGenero/@obj.GeneroId">Editar</a>|<a href="/Eliminar/@obj.GeneroId">Eliminar</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

}




@code {
    private WeatherForecast[] forecasts;

    public List<Generos> lista = new List<Generos>();

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await ForecastService.GetForecastAsync(DateTime.Now);

        try
        {
            lista = RepostitorioGenero.GetList();
        }
        catch (Exception) { throw; }
    }
}