@page "/RegistroGenero/{Id:int}"

@using FirstBlazerApp.Entidades;
@using FirstBlazerApp.BLL;



<style>
    .box {
        width: 500px;
        margin: 1.75rem auto;
        position: relative;
        box-sizing: border-box;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        border-radius : 4px;
        box-shadow: 7px 13px 37px #000;
    }
</style>



<div class="container">

    <div class="box text-white p-md-3 ">
        <div>
            <h3 class=" text-center ">Registro de Generos</h3>
        </div>

        <div class="form-group">

            <label class="mr-md-1">Genero</label>
            <input type="text" placeholder="Ingrese el nombre del Genero" name="name" class="form-control " @bind="genero.Nombre" />
            <button class="btn btn-success mt-md-2" @onclick="Guardar">Guardar</button>
            <a class="btn btn-primary mt-md-2" href="fetchdata">Ir a la lista de Generos</a>

        </div>

    </div>

</div>



@code {

    [Parameter]
    public int Id { get; set; }

    Generos genero = new Generos();

    protected override void OnInitialized()
    {
        try
        {
            if (Id != 0)
            {
                genero = RepostitorioGenero.Buscar(Id);
            }
        }
        catch (Exception) { throw; }

    }

    private void Guardar()
    {
        RepositorioBase<Generos> db = new RepositorioBase<Generos>();
        try
        {
            if (genero.GeneroId > 0)
            {
                Modificar();
            }
            else
            {
                if (db.Guardar(genero))
                {
                    genero = new Generos();
                    genero.Nombre = "Guardado";
                }

            }
        }
        catch (Exception) { throw; }

    }

    private void Modificar()
    {
        RepositorioBase<Generos> db = new RepositorioBase<Generos>();
        try
        {

            if (db.Modificar(genero))
            {

                genero = new Generos();
                genero.Nombre = "Guardado";

            }

        }
        catch (Exception) { throw; }
    }

}
